@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&family=Inter:wght@400;500&display=swap');

::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {
    background: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #c8c8c8;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    background-color: black;
    background-image: radial-gradient(circle farthest-corner at top left, rgb(0, 0, 0) 0%, rgba(225, 243, 97, 0) 50%), radial-gradient(circle farthest-corner at bottom right, #1C2541 0%, rgba(204, 104, 119, 0) 33%), radial-gradient(circle farthest-corner at top right, #3A506B 0%, rgba(155, 221, 240, 0) 50%), radial-gradient(ellipse at bottom center, #1C2541 0%, rgba(254, 43, 0, 0) 80%);
    margin: 0px;
    padding: 0px;
    transition: background-color 600ms;
    animation: fade-in 2s;
    min-height: 100vh;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 1080px;
    max-width: 90vw;
    padding-left: 3vw;
    padding-right: 3vw;
    margin: auto;
    padding-top: 20vh;
    min-height: 80vh;
    height: auto;
}

.main-center {
    display: flex;
    align-items: flex-start;
    position: relative;
    max-width: 100%;
    z-index: 2;
    padding-bottom: 1rem;
}

.main {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 800px;
    max-width: 100%;
    z-index: 2;
    padding-bottom: 1rem;
}

.main-text {
    flex: 1;
    position: relative;
    padding-bottom: 1rem;
}

.highlight {
    color: #f4f0e6;
    font-weight: bold;
    font-style: italic;
}

.main-text h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.main-text h2 {
    font-size: 1.4rem;
    font-weight: 400;
    color: #b0b0b0;
    margin-bottom: 0.8rem;
}

.main-text p {
    font-size: 0.9rem;
    color: #888;
}

.letter {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 4rem;
    color: #f4f0e6;
    margin-right: 1rem;
    top: -18px;
    position: relative;
    flex-shrink: 0;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.divider-line {
    border-bottom: 2px solid #444;
}

.divider-line-top {
    border-top: 2px solid #444;
    padding-bottom: 1.8rem
}

.clickable {
    text-decoration: underline;
    z-index: 10;
    text-align: center;
    color: #f4f0e6;
    font-size: 0.9rem;
    transition: 1s;
}

.clickable:hover {
    color: #E49273;
}

.rotator{
    height: 32px;
    overflow: hidden;
    position: relative;
    width: 80%;
    margin-left: 8px;
}


.rotator ul{
    list-style: none;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    animation: scroll 9s ease-in-out infinite;
}

.rotator li{
    height: 32px;
    display: flex;
    color: #f4f0e6;
    font-size: 1.4rem;
    font-weight: bold;
    font-style: italic;
}

@keyframes scroll{
    0% { transform: translateY(0%); }
    22% { transform: translateY(0%); }
    33% { transform: translateY(-33%); }
    55% { transform: translateY(-33%); }
    66% { transform: translateY(-66%); }
    88% { transform: translateY(-66%); }
    100% { transform: translateY(0%); }
}
