@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&family=Inter:wght@400;500&display=swap');

::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {
    background: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #c8c8c8;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    background-color: black;
    background-image: radial-gradient(circle farthest-corner at top left, rgb(0, 0, 0) 0%, rgba(225, 243, 97, 0) 50%), radial-gradient(circle farthest-corner at bottom right, #1C2541 0%, rgba(204, 104, 119, 0) 33%), radial-gradient(circle farthest-corner at top right, #3A506B 0%, rgba(155, 221, 240, 0) 50%), radial-gradient(ellipse at bottom center, #1C2541 0%, rgba(254, 43, 0, 0) 80%);
    margin: 0px;
    padding: 0px;
    transition: background-color 600ms;
    animation: fade-in 2s;
    min-height: 100vh;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1080px;
    max-width: 90vw;
    padding-left: 3vw;
    padding-right: 3vw;
    margin: auto;
    padding-top: 20vh;
    min-height: 80vh;
    height: auto;
}

.main {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 800px;
    max-width: 90vw;
    z-index: 2;
    padding-bottom: 1rem;
}

.main-text {
    flex: 1;
    position: relative;
    padding-bottom: 1rem;
}

.highlight {
    color: #f4f0e6;
}

.main-text h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.main-text h2 {
    font-size: 1.4rem;
    font-weight: 400;
    color: #b0b0b0;
    margin-bottom: 0.8rem;
}

.main-text p {
    font-size: 0.9rem;
    color: #888;
}

.letter {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 4rem;
    color: #f4f0e6;
    margin-right: 1rem;
    top:-18px;
    position: relative;
    flex-shrink: 0;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.divider-line {
    border-top: 2px solid #444;
}

.timeline {
    width: 800px;
    max-width: 90vw;
    padding: 50px;
    position: relative;
}

.timeline:after {
    content: "";
    display: table;
    clear: both;
}

.entry {
    clear: both;
    text-align: left;
    position: relative;
}

.entry .title {
    margin-bottom: 0.5em;
    float: left;
    width: 10%;
    padding-right: 30px;
    text-align: right;
    position: relative;
}

.entry .title:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 4px solid #3A506B;
    border-radius: 100%;
    top: 15%;
    right: -8px;
    z-index: 99;
    background-color: #fff;
}

.entry .title h3 {
    margin: 0;
    font-size: 120%;
}

.entry .title p {
    margin: 0;
    font-size: 100%;
}

.entry .body {
    margin: 0 0 3em;
    float: right;
    width: 90%;
    padding-left: 30px;
}

.entry .body p:first-child {
    margin-top: 0;
    font-weight: 400;
}

.entry .body ul {
    color: #aaa;
    padding-left: 0;
    list-style-type: none;
}

.entry .body ul li {
    padding-top: 10px;
}

.button {
    background-color: #1C2541;
    border: 1px solid #f4f0e6;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    line-height: 30px;
    padding: 0 10px 0 11px;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100px;
    color: #f4f0e6;
    font-weight: bold;
    transition: 1s;
}

.button:hover {
  background-color: #293b6f;
}

.controls {
    height: 50px;
    margin: auto;
    align-items: center;
    display: flex;
}

.checkbox {
    padding-left: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    width: 100%;
    max-height: 50vh;
}

.column-chr {
    flex: 50%;    
    padding: 0 4px;
    border: 2px solid #f4f0e6;
    border-radius: 25px;
    background-image: linear-gradient(to bottom, #000000, #2c2c2c6b);
    text-align: center;
}

.column-chr img {
    width: 90%;
    margin-top: 8px;
    vertical-align: middle;
}

.column-wep {
    flex: 50%;
    height: 50vh;
    max-width: 100%;
    text-align: center;
}

.column-wep img {
    max-height: 22vh;
    max-width: 100%;
    margin-top: 8px;
    vertical-align: middle;
    padding: 20px;
}

.column-wep-row {
    height: 50%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f4f0e6;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #000000, #2c2c2c6b);
}

.column-wep-row img {
    height: 50%;
}

.column-full-chr {
    max-height: 50vh;
    max-width: 100%;
    flex: 50%;
    padding: 0 4px;
    border: 2px solid #f4f0e6;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #000000, #2c2c2c6b);
}

.column-full-chr img {
    max-height: 50vh;
    max-width: 100%;
    margin-top: 8px;
    display: block;
    margin: auto;
}

.row-full-wep {
    padding-top: 25px;
}

.column-full-wep {
    height: 25vh;
    max-width: 100%;
    flex: 50%;
    padding: 0 4px;
    border: 2px solid #f4f0e6;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #000000, #2c2c2c6b);
}

.column-full-wep img {
    height: 22vh;
    max-width: 100%;
    margin-top: 8px;
}