/* Footer */

footer {
    margin-top: auto;
    padding: 15px 15px;
    width: auto;
    background-color: transparent;
    color: white;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}

footer a {
    transition: 0.5s;
    color: #D1D7E0;
}

footer a:hover {
    color: #802BB1;
}