/* Navbar */

nav {
    position: fixed;
    width: 100vw;
    height: 75px;
    top: 0;
    background-color: #050517;
    align-items: center;
    box-shadow: 10px 10px 5px #0000006a;
}
  
nav a {
    margin: auto;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    transition: 500ms;
    border-radius: 25px;
}


nav a:hover {
    color: #050517;
    background-color: white;
    text-decoration: bold;
}

nav a2 {
    margin: auto;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-family: "Lucida Console", "Courier New", monospace;
}

nav div {
    display: inline;
    margin: auto;
    padding-top: 25px;
}