/* Navbar */

nav {
    overflow: hidden;
    background-color: #00000049;
    position: fixed;
  }
  
nav a {
    display: block;
    color: white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-family: "Lucida Console", "Courier New", monospace;
    min-width: 160px;
    transition: 0.5s;
    border-radius: 18px;
}

nav a:hover {
    background-color: #C8ACD6;
    color: black;
    font-weight: bold;
}