/* Navbar */

nav {
    position: fixed;
    width: 100%;
    top: 2%;
  }
  
nav a {
    color: #D1D7E0;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    transition: 500ms;
    border-radius: 25px;
}

nav a2 {
    color: #D1D7E0;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-family: "Lucida Console", "Courier New", monospace;
}

nav a:hover {
    color: #802BB1;
    text-shadow:1px 0px 0px #2D283E;
    text-decoration: underline;
}

nav div {
    display: inline;
    padding-top: 10px;
    padding-bottom: 10px;
}