/* CSS File for all Study Related Classes*/

.study-container {
    width: 100%;
}

.study-container-child {
    width: 100%;
    margin: auto;
    min-height: 100px;
    border-left: solid 2px aliceblue;
}

.study-collapsible {
    padding-left: 45px;
    display: none;
    overflow: hidden;
    animation: vanish 0.5s;
}

.study-collapsible-open {
    padding-left: 45px;
    display: block;
    overflow: hidden;
    animation: appear 1s;
}

.study-button {
    margin-left: 25px;
    margin-top: 20px;
    border-radius: 10px;
    border-style: none;
    width: 160px;
    height: 40px;
    font-size: 20px;
    background-color: aliceblue;
    box-shadow: 0 0 10px aliceblue;
    transition: 500ms;
}

.study-button:hover {
    background-color: #111111;
}

.study-button-not-clickable {
    margin-left: 25px;
    margin-top: 20px;
    border-radius: 10px;
    border-style: none;
    width: 160px;
    height: 40px;
    font-size: 20px;
    background-color: gray;
    box-shadow: 0 0 10px gray;
    transition: 500ms;
    text-decoration: line-through;
}

.study-button-not-clickable .gradient-text {
    color: black;
}

.study-button-not-clickable:hover {
    background-color: #505050;
}

.course-title {
    color: var(--font-colour);
    font-family: var(--font-main);
    font-size: 32px;
    text-align: left;
    display: block;
    color: aliceblue;
    padding-left: 10px;
    padding-bottom: 10px;
}

.course-text {
    color: var(--font-colour);
    font-family: var(--font-main);
    font-size: 16px;
    text-align: left;
    display: block;
    color: aliceblue;
    padding-left: 15px;
    padding-bottom: 5px;
}

.courses {
    width: 100%;
    margin: auto;
    min-height: 100px;
    border-left: solid 2px aliceblue;
    margin-top: 20px;
}

.resume {
    width: 800px;
    height: 1125px;
    display:block;
    margin: auto;
    box-shadow: 0 0 10px aliceblue;
    filter: invert(0%);
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes vanish {
    from {
        display: block;
        opacity: 1;
    }

    to {
        display: none;
        opacity: 0;
    }
}