/* Text Styles */

h1 {
    color: white;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 70px;
}

h2 {
    color: white;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 50px;
}

h3 {
    color: white;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 40px;
}

h4 {
    color: white;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 30px;
}

.profilepic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 3px solid white;
}

.container {
    background-color: black;
    height: 100px;
}

.parallax-container {
    background-image: url("../assets/Background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}