/* Text Styles */

colour-pallete {
  color: #0D1F2D;
  color: #546A7B;
  color: #9EA3B0;
  color: #F9C846;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 60px;
}

h2 {
  color: white;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 50px;
}

h3 {
  color: white;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 40px;
}

h4 {
  color: white;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 30px;
  padding: 0;
}

p {
  color: white;
  text-align: left;
  font-family: "Lucida Console", "Courier New", monospace;
}

.grid-container a {
  color: white;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  transition: 0.5s;
  color: white;
}

.grid-container a:hover {
  color: #9EA3B0;
}

.profilepic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: #00000074;
}

.container {
    background-color: #2D283E;
    height: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-gap: 20px;
}

.button {
  background-color: #0D1F2D;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #546A7B;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
}

.button:hover {
  background-color: #546A7B;
}

.button:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button {
    padding: .75rem 1.5rem;
  }
}

.buttontext {
  color: white;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
}

.clear {
    clear: both;
}